// * {
//     box-sizing: border-box;
// }
body {
    // border: 10px solid black;
    max-width: 1770px;
    width: 100%;
    min-height: 500px;
    font-family: 'Mulish';
    color: #ffffff;
    font-weight: bold;
    // font-size: 16px;
    line-height: 26px;
    margin: 20px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Josefin Sans', sans-serif;
}

.bg-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1770px;
    width: 100%;
    min-height: 200px;
}