//header {
// box-sizing: border-box;// // background-image: url("/images/image-1.png");
// background-position: center;
// background-repeat: no-repeat;
// background-size: 1770px;
// width: 1770px;
// height: 820px;
// border: 10px solid red;
//}
h1 {
    font-size: 800px;
    color: red;
    font-style: 700;
    z-index: 1;
    text-align: center;
}